body{
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
.sign{
  margin-left: 20%;
  text-transform:uppercase;
  font-size:30px;
}
.admin{
  display: flex;
  flex-direction: column;

  
}

.username,.password,.password-confirm,.email, .first, .last, .num, .role{
   width: 30%;
  text-align: center;
  padding:20px;
  font-size: larger;
  font-weight: 900;
  margin-left: 70px;
}
.username input,.password input,.password-confirm input,.email input, .first input, .last input, .num input, .role input{
  width: 800px;
  border-radius: 10px;
  border:solid 1px black;
  color: white;
}
.btn{
 margin: 150px;
 margin-top: 10px;
  width: 200px;
  border-radius: 10px;
  border:solid 1px black;
  color: white;
  
}